@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization

@model IEnumerable<BookReviewHub.Models.Book>

@{
    ViewData["Title"] = "Index";
    var isAuthenticated = User.Identity.IsAuthenticated;
    var genre = Context.Request.Query["genre"].ToString();
    var year = Context.Request.Query["year"].ToString();
    var rating = Context.Request.Query["rating"].ToString();
}

<h1>Books</h1>

<form method="get" asp-action="Index" class="mb-3">
    <div class="row g-2">
        <div class="col">
            <input type="text" name="genre" value="@genre" class="form-control" placeholder="Genre" />
        </div>
        <div class="col">
            <input type="number" name="year" value="@year" class="form-control" placeholder="Year" />
        </div>
        <div class="col">
            <input type="number" name="rating" value="@rating" class="form-control" placeholder="Rating" min="1" max="5" />
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </div>
</form>

@if (isAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishedYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @if (item.UserId == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> @: |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> @: |
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Reviews" asp-route-id="@item.Id">Reviews</a>
                </td>
            </tr>
        }
    </tbody>
</table>
