@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization

@model IEnumerable<BookReviewHub.Models.Review>

@{
    ViewData["Title"] = "Index";
}

@{
    var isAuthenticated = User.Identity.IsAuthenticated;
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Author)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td> *@
            <td>
                    @if (item.UserId == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> @: |
                        <a asp-action="Delete" asp-route-id="@item.Id"> Delete </a> @: |
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
